{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/log.css' %}">
</head>
<body>
    <section class="container">
        <div class="login-container">

            <div class="form-container">
                <h2 class="font-italic">Application Accepted</h2>
            </div>
            <div class="form-container">
                <a class="btn btn-primary" href="/" role="button">-----------------Home-----------------</a>
            </div>

        </div>



    </section>

</body>
</html>